{% extends 'entries/base.html' %}

{% block breadcrumb %}
<li class="breadcrumb-item active">Query List/ Upload CSV</li>
{% endblock %}

{% block content%}
    {% if messages %}
    	{% for message in messages %}
    		<div>
    			<strong>{{message|safe}}</strong>
    		</div>
    	{% endfor %}
    {% else %}
    	{{order}}
    	<form method="post" enctype="multipart/form-data">
    		{% csrf_token %}
    		<label>Upload a file</label>
    		<input type="file" name="file" required="True"></input>
    		<p>Only accepts CVS files</p>
    		<button class="btn btn-primary" type="submit">Upload</button>
    	</form>
    {% endif %}
{% endblock %}