<h1>{{ entry.testFileName }}</h1>
<ul>
	<h4>Group Number | Assigned | GPC/Renewal | OE FIle Type (Proforma,834) | Test File Name | Test Date | Approved(who) | Prod File Name | Prod Date | Analytics Verified | Approved (who)</h4>
	<li>{{ entry.name }} | {{entry.assigned }} | {{entry.renewal }} | {{entry.fileType }} | {{entry.testFileName }} | {{entry.testDate }} | {{entry.approvedWho }} | {{entry.prodFileName }} | {{entry.prodDate }} | {{entry.analyticsVerified }} | {{entry.approvedWhoTwo }}</li>
	
</ul>