{% extends 'entries/base.html' %}

{% block breadcrumb %}
<li class="breadcrumb-item active">Query List/ {{ query.queryName }}</li>
{% endblock %}

{% block content %}
<table class="table">
    <thread class="thread-inverse">
        <tr>
            <th>Folder Name</th>
            <th>Sub Folder</th>
            <th>Sub Folder 2</th>
            <th>Query Used For</th>
        </tr>
    </thread>
    <tbody>
        <tr>
            <td>{{query.folderName}}</td>
            <td>{{query.subfolder}}</td>
            <td>{{query.subfolder2}}</td>
            <td>{{query.queryUsedFor}}</td>
        </tr>
    </tbody>

    <thread>
        <tr>
            <td>&nbsp;</td>
        </tr>
    </thread>

    <thread class="thread-inverse">
        <tr>
            <th>Query Name</th>
            <th>Files</th>
            <th>convertYN</th>
            <th>Conversion Start Date</th>
        </tr>
    </thread>
    <tbody>
        <tr>
            <td>{{query.queryName}}</td>
            <td>{{query.files}}</td>
            <td>{{query.convertYN}}</td>
            <td>{{query.conversionStartDate}}</td>
        </tr>
    </tbody>

    <thread>
        <tr>
            <td>&nbsp;</td>
        </tr>
    </thread>

    <thread class="thread-inverse">
        <tr>
            <th>Assigned To</th>
            <th>Conversion Completion Date</th>
            <th>New BI Name</th>
        </tr>
    </thread>
    <tbody>
        <tr>
            <td>{{query.assignedTo}}</td>
            <td>{{query.converstionCompletionDate}}</td>
            <td>{{query.newNameInBI}}</td>
        </tr>
    </tbody>
</table>
{% endblock %}