{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'entries/bootstrap.min.css' %}">

{% if query_list %}
	<ul>
	{% for query in query_list %}
		<li><a href="{% url 'entries:detail' query.id %}">{{ query.queryName }} | {{ query.assignedTo }} | {{ query.conversionStartDate }} | {{ query.queryUsedFor }}</a></li>
	{% endfor %}
	</ul>
	<a class="btn btn-primary" href="{% url 'entries:export_entries_csv' %}">Export to CSV</a>
{% else %}
	<p> No entries are available.</p>
{% endif %}