{% extends 'entries/base.html' %}

{% block breadcrumb %}
<li class="breadcrumb-item active">Query List</li>
{% endblock %}

{% block content %}
{% if query_list %}
    <a class="btn btn-primary" href="{% url 'entries:export_entries_csv' %}">Export to CSV</a>
	<a class="btn btn-primary" href="{% url 'entries:csv_upload' %}">Upload CSV file</a>

	<table class="table">
	    <thread class="thread-inverse">
    	    <tr>
    	        <th>Query Name</th>
    	        <th>Assigned To</th>
    	        <th>Conversion Start Date</th>
    	        <th>Query Used For</th>
    	    </tr>
	    </thread>
	    <tbody>
	        {% for query in query_list %}
	            <tr>
	                <td><a href="{% url 'entries:detail' query.id %}">{{ query.queryName }}</a></td>
	                <td><a href="{% url 'entries:detail' query.id %}">{{ query.assignedTo }}</a></td>
	                <td><a href="{% url 'entries:detail' query.id %}">{{ query.conversionStartDate }}</a></td>
	                <td><a href="{% url 'entries:detail' query.id %}">{{ query.queryUsedFor }}</a></td>
	                <td></td>
	            </tr>
            {% endfor %}
	    </tbody>
	</table>
{% else %}
    <a class="btn btn-primary" href="{% url 'entries:csv_upload' %}">Upload CSV file</a>
{% endif %}
{% endblock %}

